__pycache__/
*.py[cod]
*.egg
*.egg-info/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
.nox/

.env
.env.*
!.env.example
.envrc

.venv/
venv/
env/

build/
dist/
.dist/

*.sqlite
*.sqlite3
*.log

.DS_Store
.idea/
.vscode/
